<div class="row">
  <div class="col-lg-3 col-sm-6 mb-4" *ngFor="let apiQuote of apiQuotes; let i = index;" style="display: flex; flex-wrap: wrap;">
    <div class="lightGoldBackground card" [hidden]="!apiQuote.showApiQuote">
      <div class="
      card-body">
        <p class="card-text pb-5"><i class="fa fa-quote-left" aria-hidden="true"></i> {{apiQuote.quote}}</p>

        <a (click)='hideApiQuote(apiQuote)' class="deleteBtnPosition" title="Hide Api Quote"><i class="fa fa-2x fa-times-circle-o"
            aria-hidden="true"></i></a>
        <small class="card-subtitle text-muted authorPosition">{{apiQuote.author}}</small>
        <button type="button" (click)="addApiQuote(apiQuote)" class="btn text-dark saveBtnPosition lightGrayBackground">Save</button>
      </div>
    </div>
  </div>
</div>
