<nav class="navbar navbar-expand-lg navbar-dark darkBlueBackground">
  <div class="container">
    <a class="navbar-brand" href="/">
      <fa-icon [icon]="faQuoteLeft" class="nav-icon"></fa-icon> Quotes App <fa-icon [icon]="faQuoteRight" class="nav-icon"></fa-icon>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/api">API Quotes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
