<div class="text-center mb-3">
  <button type="button" (click)="toggleAddQuoteForm()" class="btn lightBlueBackground">
    <fa-icon [icon]="faPlus"></fa-icon>
    Add New Quote
  </button>
</div>

<app-add-quote (quoteAdded)="addQuote($event)" *ngIf="showAddQuoteForm"></app-add-quote>

<div *ngIf="quotes; else spinner">
  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-2" *ngFor="let quote of quotes" style="display: flex; flex-wrap: wrap;">
      <div class="lightGoldBackground card">
        <div class="card-body">
          <p class="card-text pb-5">
            <fa-icon [icon]="faQuoteLeft"></fa-icon> {{quote.quote}}
          </p>
          <small class="card-subtitle text-muted authorPosition">{{quote.author}}</small>

          <a (click)="copyQuote(quote.quote, quote.author)" class="btn lightBackground copyCardIcon" title="Copy to clipboard">
            <fa-icon [icon]="faCopy"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <fa-icon [icon]="faAsterisk" [pulse]="true" size="3x" class="spinnerPosition"></fa-icon>
  <span class="sr-only">Loading...</span>
</ng-template>
